<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">MRI coils fail - ECHO™ tells you BEFORE it happens!</h2>
                <hr class="light">
                <p class="text-faded">Our new patented technology works by transmitting an envelope of RF and DC signals to an MRI coil's subsystems. The ECHO™ module will recieve the frequency response of the transmitted signals from each subsystem and process this information through our patented machine learning algorithm. The output of these analytics will allow us to form a conclusion on the status of each subsystem of the coil. We can thus predict when a coil will fail before it is placed inside the bore of the magnet to scan a patient.</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Get Started!</a>
            </div>
        </div>
    </div>
</section>
