<section id="mockup">
	<div class="container">
		<div class="row">
	        <div class="col-sm-4">
	            <h3>View Data From Anywhere</h3>
	            <p class="text-muted">A Dashboard that displays the electrical parameters of the coil. The dashboard is accessed via the internet and data is securely stored in the "cloud".</p>
	        </div>
	        <div class="col-sm-8">
	            <img src="img/dashboard mockup.png" class="img-fluid" alt="Responsive image" style="width:700px;height:400px;">
	        </div>
    	</div>
    </div>
    	<div class="container" style="margin-top: 25px;">
		<div class="row">
	        <div class="col-sm-8">
	            <img src="img/mricoilrepairs.jpg" class="img-fluid" alt="Responsive image" style="width:700px;height:400px;">
	        </div>
	        <div class="col-sm-4">
	            <h3>Pinpoint Failures</h3>
	            <p class="text-muted">Using our machine learning analytics algorithm, failures of the coil can be pinpointed down into a specific part, allowing for ease of repair with massive money and time saves.</p>
	        </div>
    	</div>
    </div>
</section>