<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tachometer wow bounceIn text-primary"></i>
                    <h3>Dashboard</h3>
                    <p class="text-muted">A Dashboard that displays the electrical parameters of the coil. The dashboard is accessed via the internet and data is securely stored in the "cloud".</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tasks wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Coil Monitoring</h3>
                    <p class="text-muted">The coils are monitored remotely when not in use once they are placed on GaDova's proprietary platform.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-exclamation-circle wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Failure Prediction</h3>
                    <p class="text-muted">The ability to predict soft and hard failures including image quality deterioration and cable and connector failures.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comment wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Communication</h3>
                    <p class="text-muted">End users (clinical and engineering) are informed of a failure of an MRI coil via text and email before the coil is placed inside the bore of the magnet.</p>
                </div>
            </div>
        </div>
    </div>    
</section>